pip install llama-index==0.9.48 chromadb PyMuPDF textwrap3 sentence-transformers
pip install requests python-dotenv
pip install streamlit
pip install langdetect
pip install llama-cloud-services 





